@font-face {
    font-family: 'CooperHewittBook';
    src: url('CooperHewittBook.eot');
    src: url('CooperHewittBook.eot') format('embedded-opentype'),
         url('CooperHewittBook.woff2') format('woff2'),
         url('CooperHewittBook.woff') format('woff'),
         url('CooperHewittBook.ttf') format('truetype'),
         url('CooperHewittBook.svg#CooperHewittBook') format('svg');
}

@font-face {
    font-family: 'CooperHewittSemibold';
    src: url('CooperHewittSemibold.eot');
    src: url('CooperHewittSemibold.eot') format('embedded-opentype'),
         url('CooperHewittSemibold.woff2') format('woff2'),
         url('CooperHewittSemibold.woff') format('woff'),
         url('CooperHewittSemibold.ttf') format('truetype'),
         url('CooperHewittSemibold.svg#CooperHewittSemibold') format('svg');
}
